<div class="page-content">
  <div class="body-content">
    <div class="left-panel1">
      <span><img src="../assets/images/logo.svg" /></span>
      <span><img src="../assets/images/about.svg" /></span>
      <span><img src="../assets/images/projects.svg" /></span>
      <span><img src="../assets/images/education.svg" /></span>
      <span><img src="../assets/images/skills.svg" /></span>
      <span><img src="../assets/images/resume.svg" /></span>
    </div>
    <div class="left-panel2">Left panel2</div>
    <div class="right-main-content">
      <div class="router-tab" *ngFor="let tab of tabs"></div>
      <div class="tab-content" *ngIf="tabs && tabs.length>0">
        tab content
      </div>
      <div class="home-page-area" *ngIf="!tabs || tabs.length==0">
        <app-home-page></app-home-page>
      </div>
    </div>
  </div>
</div>